<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Дефолтный аппендер в консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровни по умолчанию -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Профиль dev: понизим уровень до DEBUG -->
    <springProfile name="dev">
        <logger name="org.springframework" level="DEBUG"/>
        <logger name="com.dmitry.shorty" level="DEBUG"/>
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
